<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576012618957-oq6r22cb5fq5qgnigc15b4992hat25q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576012618957-oq6r22cb5fq5qgnigc15b4992hat25q1</string>
	<key>API_KEY</key>
	<string>AIzaSyAgHdF2qD02fSkcgNcChvN6wvVvB-tU5uk</string>
	<key>GCM_SENDER_ID</key>
	<string>576012618957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MP.Testing.Crashlytics-Test.watchkitapp.watchkitextension</string>
	<key>PROJECT_ID</key>
	<string>test-crashlytics-3c026</string>
	<key>STORAGE_BUCKET</key>
	<string>test-crashlytics-3c026.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576012618957:ios:eec686f074ce80ae676d84</string>
	<key>DATABASE_URL</key>
	<string>https://test-crashlytics-3c026.firebaseio.com</string>
</dict>
</plist>